Package: ws.hbang.mapsopener
Name: MapsOpener
Pre-Depends: firmware (>= 5.1)
Depends: mobilesubstrate, ws.hbang.libopener (>= 2.0)
Version: 1.5.1
Architecture: iphoneos-arm
Description: Open map links in Google Maps
Maintainer: HASHBANG Productions <support@hbang.ws>
Author: HASHBANG Productions <support@hbang.ws>
Support: https://www.hbang.ws/faq/
Section: Tweaks
